/* INDEX HTML */
* {
    margin: 0;
    padding: 0;
  }
  

body{
    background-image: url('../img/background-Index.webp');
    background-size: 100%;
}

.box-index{
    background-color: rgba(0, 0, 0, 0.462);
    margin-top: 15em;
    height: 300px;
    width: 455px;
    margin-left: 23em;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.full-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}

.btns-Index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}